{% extends "base_polls.html" %}
{% block title %}- List{% endblock %}
{% block content %}
    <h2>Polls Question List</h2>
    {% if latest_question_list %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                 {% for question in latest_question_list %}
                  <p><a href="{% url 'polls:detail' question.id %}" class="btn btn-xs btn-info">{{ question.question_text }}</a></p>
                  {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}